input,
select,
button,
textarea {
	outline: none;
	border: none;
	border: 1px #ddd solid;
	font-family: '微软雅黑';
}
.input {
    box-sizing: content-box;
    height: 36px;
    padding: 0 8px;
    line-height: 36px;
    vertical-align: middle;
    border: 1px #e8e8e8 solid;
}
ul{
    list-style: none;
}
.wd-1200 {
    width: 1200px;
}
.wd-100p {width: 100%;}
.wd-33p {width: 33.33333333333333%;}
.db {display: block;}
.dn {display: none;}
.dib {display: inline-block;}
.fl {float: left;}
.fr {float: right;}
.cl-6 {
    color: #666;
}
.cl-9 {
    color: #999;
}
.pd-0015 {
    padding: 0 15px;
}
.pd-0005 {
    padding: 0 5px;
}
.pr {position: relative;}
.pa {position: absolute;}
.ma{
    margin: 0 auto;
}
.bg16{
    background: #0160a4
}

.wd-1000 {
    width: 1000px;
}
 .wd{
     width: 1200px;
 }
 .wd-390{
    width: 390px;
 }
 .ta-c{
     text-align: center;
 }
.ht{
    line-height: 30px;
}
.c-3f3a{
    color: #3f3a39;
}
.cp {
    cursor: pointer;
}
ul{
    list-style: none;
}
.fs-18 {
    font-size: 18px;
}
.fs-12 {
    font-size: 12px;
}
.fs-25 {
    font-size: 25px;
}
.ml-20{
    margin-left: 20px;
}
.ml-10{
    margin-left: 10px;
}
.fs-22{
    font-size: 22px;
}
.fs-30{
    font-size:30px;
}
.h30{
    height: 30px;
}
.lh-40 {
    line-height: 40px;
}
.lh-45 {
    line-height: 45px;
}
.ml-3 {
    margin-left: 3px;
 }
 .ml-4 {
    margin-left: 4px;
 }
 .ml-5 {
    margin-left: 5px;
 }

.ml-6 {
   margin-left: 6px;
}
.ml-15{
    margin-left: 15px;
 }
.mt-10 {
    margin-top: 10px;
}
.red-e4{
    color: #e4393c;
}
a{
    text-decoration: none;
}
.tp-3 {
    top: 3px;
}
.cl-rgd{
    color: #e4393c;
}
.cl-bl-l {
    color: #2db4ea;
}
.cl-rd-l2 {
    color: #e4393c;
}
.cl-f {
    color: #fff;
}
.cl-9 {
    color: #999;
}
.db {
    display: block;
}
.dn{
    display: none;
}
.lh-40{
    line-height: 40px;
}
.bb-1-e {
    border-bottom: 1px #eee solid;
}
.pb-5 {
    padding-bottom: 5px;
}
.pt-15{
    padding-top: 15px;
}
.pr-30 {
    padding-right: 30px;
}
.pr-25 {
    padding-right: 25px;
}
.pd-0510 {
    padding: 5px 10px;
}
.pr-50 {
    padding-right: 50px;
}

.lh-18 {
    line-height: 18px;
}

.cl-6 {
    color: #666;
}

.oh {
    overflow: hidden;
}

.mt-5 {
    margin-top: 5px;
}
.ht-36 {
    height: 36px;
}
.db {
    display: block;
}
.oh {
    overflow: hidden;
}

.mr-10 {
    margin-right: 10px;
}
.wd-50p {
    width: 50%;
}
.wd-60p {
    width: 60%;
}
.wd-40p {
    width: 40%;
}
.wd-47p {
    width: 47%;
}
.wd-25p {
    width: 25%;
}
.ht-183 {
    height: 183px;
}
.ht-93 {
    height: 93px;
}
.ta-lf {
    text-align: left;
}

.wd-30 {
    width: 30px;
}



.mr-10 {
    margin-right: 10px;
}

.ht-100 {
    height: 100px;
}

.wd-100 {
    width: 100px;
}
.bb-1-e8 {
    border-bottom: 1px #e8e8e8 solid;
}
.bd-4-f {
    border: 4px #fff solid;
}
.visible {
    visibility: visible;
}
.pd-5 {
    padding: 5px;
}
.wd-200{
    width: 200px;
}
.ta-rt {
    text-align: right;
}
.wd-120 {
    width: 120px;
}

/* 清除浮动 */
.clearfix:after { 
    content: "\200B"; 
    display: block; 
    height: 0; 
    clear: both; 
}