*{
    padding: 0;
    margin: 0;
}

.header{
    width: 1000px;
    background: url(../img/snipaste_20190614_203759.jpg) repeat-x;
    height: 100px;
}
.d-60pl{
    width: 70%;
   height: 100%; 
}
.d-60pl>img{
    width: 100%;
    height: 100%;
}
.wd-40pl{
    width: 30%;
    height: 100%;  
}

.nav-box{
    height: 39px;
    background: url(../img/bg_menu.gif)  repeat-x;
    position: relative;

}
.nav-box ul li{
    height: 39px;
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  width: 104px;
  color: #fff;
  line-height: 39px;
  background: url(../img/bg_menu1.gif) 0px 39px;
  font-size: 12px;
  cursor: pointer;
}
.nav-box ul li:hover{
    background:#0f87bc;
}

.second-list > li {
 
    width: 150px;
    background: #ccc;
}
.second-list{
    position: relative;
    display: none;
z-index: 999;
}




/* 轮播图 */
#banner {
    width: 100%;
    position: relative;
    height: 250px;
    text-align: center;
    overflow: hidden;
}


#banner>.imglist>li>img {
    width: 100%;
    height: 250px;
    background-size: contain;
}

.imglist li {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}


.list {
    width: 100%;
    height: 30px;
    text-align: center;
    position: absolute;
    right: -413px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    z-index: 100;
}
.list li {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid #fff;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    margin: 0 5px;
    color: #fff;
}

.list li.listfocus {
    background: #2ab4e8;
}
/* .lqw {
    width: 34px;
    height: 70px;
    position: absolute;
    left: 283px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    color: #fff;
    line-height: 63px;
    z-index: 101;
    background: #9fc8d1;
} */

/* .lqwl {
    width: 40px;
    height: 70px;
    position: absolute;
    right: 20%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    color: #fff;
    line-height: 61px;
    background: #9fc8d1;
} */



/* 图文块 */
.anchor-box{
    margin-top: 20px;
    width: 100%;
    height: 419px;
}

.lqls{
   
}

.company{
    width: 50%;
    height: 100%;
    position: relative;
 
}
 .company .card {
    position: absolute;
    left: 0;
    top: 0;
    width: 466px;
    height: 45px;
    padding: 0 10px;
    line-height: 45px;
    padding-left: 20px;
    border-bottom: 1px solid #ccc;
 
}
.scale-box{
    padding-top: 15px;
    font-size: 13px;
    line-height: 28px;
    color: #005c9a;
}



.Products-lp{
    width: 45%;
    height: 100%;
    padding-left: 5%; 
    position: relative;
    box-sizing: border-box;
}

.Products-lp .card-box{
    position: absolute;
    left: 62px;
    top: 0;
    width: 406px;
    height: 45px;
    padding: 0 10px;
    line-height: 45px;
    padding-left: 20px;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}

.scale-center{
    width: 100%;
    height: 373px;
    box-sizing: border-box;
}



.scale-center  li{
    width: 50%;
     height: 50%;
     float: left;
    
}

.scale-center  li a{
    overflow: hidden;
  display: block;
    border: 1px #CCCCCC solid;
    width: 160px;
    height: 120px;
    line-height: 150px;
    padding: 5px;
    margin: 20px;
}


.scale-center  li a img{
    width: 125px;
    height: 125px;
    margin-left: 18px;
    cursor: pointer; 
    transition:all 0.3s;
    overflow: hidden;
    opacity: .8;
}

.scale-center  li a img:hover{
    transform:scale(1.1);
    opacity: .9;

    }

    
/* 尾部 */
.footer{
    margin-top: 25px;
    width: 100%;
    height: 88px;
    background: url(../img/bg_footer.gif) repeat-x;
    
}
.footer-box{
    
    width: 763px;
    height: 100%;
    margin: 0 auto;
    font-size: 13px;
    color: #71abd0;
}
.active {
    
    
     position: fixed;
     z-index: 1000;
     top: 0;
     width: 100%;
     height: 60px;
     overflow:hidden ;
     left: 0;
     
      /* width: 100%;
     height: 38px;
     line-height: 35px; */
     padding: 7px 0;
     background-color: #fff;
     /* border-bottom: 2px #3ab5e6 solid;  */
 } 
